<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="yum" description="YUML" language="YUML" derivedFrom="DynamicRoot" validator="yUML.YUMLValidator" validatorClass="yUML.YUMLValidator"></language>
       </extension>
       <extension id="yUML.parser" name="YUML Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="yUML.YUMLParseController" language="YUML">
          </parser>
       </extension>    
    </plugin>